build/
Xcode/
judge/

include/compilerConfig.h
test/**/*.error
test/**/*.lexer
test/**/*.midcode
test/**/*.mips
test/**/*.out
test/**/*.stat
test/**/*.symtable
test/**/*.exe
test/**/*.cpp

.DS_Store
**/.DS_Store
